<!DOCTYPE html>
<html lang="en">
<head>
<%- include ../partial/head%>
</head>
<body>
    <h2 align="center"><%=data.subject_name%></h2>
    <a href="/subject">
        <button>Back to Subject List</button>
    </a>
    <table border="1">
        <thead>
            <th>No</th>
            <th>Name</th>
            <th>Score</th>
            <th>Letter</th>
        </thead>
        <%data.Students.forEach((student,index) =>{%>
        <tbody>
            <td><%= index+=1%></td>
            <td>
                <%=student.getFullName()%>
            </td>
            <td>
                <%if (student.StudentSubject.score !== null) {%>
                    <%=student.StudentSubject.score%>
                <%} else {%>
                    <a href="/subject/<%=student.StudentSubject.id%>/givescore">GIVE SCORE</a>
                <%}%>
            </td>
            <td>
                <%=student.getDataValue('score')%>
            </td>
        </tbody>
        <%})%>
    </table>
</body>
</html>