<!DOCTYPE html>
<html lang="en">
<head>
<%- include ../partial/head%>
</head>
<body>
    <h2>Edit Teacher's Data</h2>
    <h4 style="color: red"><%=sendError%></h4>
    <a href="/teacher"><button>Back to Teacher</button></a>
    <form action="/teacher/edit/<%=data.id%>" method="post">
        <p>
            <input type="text" name="first_name" value="<%=data.first_name%>">
        </p>
        <p>
            <input type="text" name="last_name"  value="<%=data.last_name%>">
        </p>
        <p>
            <input type="text" name="email"  value="<%=data.email%>">
        </p>
        <p>
        <select name="SubjectId">
          <% subs.forEach(row => { %>
          <option value="<%=row.id%>"><%=row.subject_name%></option>
          <% }) %>
        </select>
        </p>
        <p>
            <input type="submit" value="EDIT">
        </p>
    </form>
</body>
</html>