<!DOCTYPE html>
<html lang="en">
<head>
<%- include ../partial/head%>
</head>
<body>
    <h1 align="center">Teachers Data</h1>
<%- include ../partial/nav-bar%>
    <table border="1" align="center">
        <thead>
            <th>ID</th>
            <th>FULL NAME</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>EMAIL</th>
            <th>SUBJECT</th>
            <th>ACTION</th>
        </thead>
        <%data.forEach( r =>{%>
        <tbody>
            <td><%=r.id%></td>
            <td><%=r.getFullName()%></td>
            <td><%=r.first_name%></td>
            <td><%=r.last_name%></td>
            <td><%=r.email%></td>
            <td><%=r.dataValues['subject_name']%></td>
            <td>
                <a href="/teacher/edit/<%=r.id%>">EDIT</a> ||
                <a href="/teacher/delete/<%=r.id%>">DELETE</a>
            </td>
        </tbody>
        <%})%>
    </table>
</body>
</html>