<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teacher</title>
</head>
<body>
    <h1>Teacher Data</h1>
    Back To<a href="/"><button>HOME</button></a>
    <table border="1">
        <thead>
            <th>ID</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>EMAIL</th>
            <th>ACTION</th>
        </thead>
        <%data.forEach( r =>{%>
        <tbody>
            <td><%=r.id%></td>
            <td><%=r.first_name%></td>
            <td><%=r.last_name%></td>
            <td><%=r.email%></td>
            <td>
                <a href="/teacher/edit/<%=r.id%>">EDIT</a> ||
                <a href="/teacher/delete/<%=r.id%>">DELETE</a>
            </td>
        </tbody>
        <%})%>
    </table>
    <h4><%=sendError%></h4>
    <form action="/teacher" method="post">
        <p>
            <input type="text" name="first_name" placeholder="FIRST NAME">
        </p>
        <p>
            <input type="text" name="last_name" placeholder="LAST NAME">
        </p>
        <p>
            <input type="text" name="email" placeholder="EMAIL">
        </p>
        <p>
            <input type="submit" value="SUBMIT">
        </p>
    </form>
</body>
</html>